{{define "form/protocol/shadowsocks"}}
<a-form layout="inline">
    <a-form-item label='{{ i18n "proto_method" }}'>
        <a-select v-model="inbound.settings.method" style="width: 260px;">
            <a-select-option v-for="method in SSMethods" :key="method" :value="method">[[ method ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label='{{ i18n "proto_password" }}'>
        <a-input v-model.trim="inbound.settings.password"></a-input>
    </a-form-item>
    <a-form-item>
        <span slot="label">{{ i18n "proto_network" }}</span>
        <a-select v-model="inbound.settings.network" style="width: 120px;">
            <a-select-option value="">tcp+udp</a-select-option>
            <a-select-option value="tcp">tcp</a-select-option>
            <a-select-option value="udp">udp</a-select-option>
        </a-select>
    </a-form-item>
</a-form>
{{end}}
