{{define "form/protocol/vless"}}
<a-form layout="inline">
    <a-form-item label="UUID">
        <a-input v-model.trim="inbound.settings.users[0].uuid"></a-input>
    </a-form-item>
    <a-form-item label="flow">
        <a-select v-model="inbound.settings.users[0].flow" style="width: 200px">
            <a-select-option value="">{{ i18n "transport_none" }}</a-select-option>
            <a-select-option value="xtls-rprx-vision">xtls-rprx-vision</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label='{{ i18n "proto_name_opt" }}'>
        <a-input v-model.trim="inbound.settings.users[0].name"></a-input>
    </a-form-item>
</a-form>
{{template "form/_tls"}}
<!-- VLESS 独有的 Reality 子块 -->
<template v-if="inbound.settings.tls.enabled">
    <a-divider>Reality</a-divider>
    <a-form layout="inline">
        <a-form-item label='{{ i18n "proto_reality_enable" }}'>
            <a-switch :checked="!!(inbound.settings.tls.reality && inbound.settings.tls.reality.enabled)"
                      @change="v => { if(!inbound.settings.tls.reality){ inbound.settings.tls.reality = new RealityBlock(); } inbound.settings.tls.reality.enabled = v; }"></a-switch>
        </a-form-item>
        <template v-if="inbound.settings.tls.reality && inbound.settings.tls.reality.enabled">
            <a-form-item label="handshake server">
                <a-input v-model.trim="inbound.settings.tls.reality.handshake_server" placeholder='{{ i18n "proto_reality_sni_ph" }}'></a-input>
            </a-form-item>
            <a-form-item label="handshake port">
                <a-input type="number" v-model.number="inbound.settings.tls.reality.handshake_port"></a-input>
            </a-form-item>
            <a-form-item label="private_key">
                <a-input v-model.trim="inbound.settings.tls.reality.private_key"></a-input>
            </a-form-item>
            <a-form-item label='{{ i18n "proto_short_id" }}'>
                <a-input :value="inbound.settings.tls.reality.short_id.join(',')"
                         @change="e => inbound.settings.tls.reality.short_id = (e.target.value||'').split(',').map(s=>s.trim())"></a-input>
            </a-form-item>
        </template>
    </a-form>
</template>
{{template "form/_transport"}}
{{end}}
