{{define "form/protocol/vmess"}}
<a-form layout="inline">
    <a-form-item label="UUID">
        <a-input v-model.trim="inbound.settings.users[0].uuid"></a-input>
    </a-form-item>
    <a-form-item label="alterId">
        <a-input type="number" v-model.number="inbound.settings.users[0].alterId"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "proto_name_opt" }}'>
        <a-input v-model.trim="inbound.settings.users[0].name"></a-input>
    </a-form-item>
</a-form>
{{template "form/_tls"}}
{{template "form/_transport"}}
{{end}}
