{{define "inboundInfoTransport"}}
<!-- 共用：TLS + transport 信息 -->
<template v-if="inbound.transportType">
    <p>{{ i18n "info_transport" }}: <a-tag color="green">[[ inbound.transportType ]]</a-tag></p>
    <p v-if="inbound.settings.transport && inbound.settings.transport.path">path: <a-tag color="green">[[ inbound.settings.transport.path ]]</a-tag></p>
    <p v-if="inbound.settings.transport && inbound.settings.transport.host && inbound.settings.transport.host.length">host: <a-tag color="green">[[ inbound.settings.transport.host.join(',') ]]</a-tag></p>
    <p v-if="inbound.settings.transport && inbound.settings.transport.service_name">serviceName: <a-tag color="green">[[ inbound.settings.transport.service_name ]]</a-tag></p>
</template>
<template v-if="inbound.tls">
    <p>tls: <a-tag color="green">{{ i18n "info_tls_enabled" }}</a-tag></p>
    <p>SNI: <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName : '{{ i18n "none" }}' ]]</a-tag></p>
    <template v-if="inbound.settings.tls.reality && inbound.settings.tls.reality.enabled">
        <p>Reality: <a-tag color="purple">{{ i18n "info_tls_enabled" }}</a-tag></p>
        <p>{{ i18n "info_reality_handshake" }}: <a-tag color="green">[[ inbound.settings.tls.reality.handshake_server ]]:[[ inbound.settings.tls.reality.handshake_port ]]</a-tag></p>
    </template>
</template>
<template v-else-if="inbound.canSniff">
    <p>tls: <a-tag color="red">{{ i18n "info_tls_disabled" }}</a-tag></p>
</template>
{{end}}


{{define "component/inboundInfoComponent"}}
<div>
    <p>{{ i18n "protocol" }}: <a-tag color="green">[[ dbInbound.protocol ]]</a-tag></p>
    <p>{{ i18n "info_address" }}: <a-tag color="blue">[[ dbInbound.address ]]</a-tag></p>
    <p>{{ i18n "port" }}: <a-tag color="green">[[ dbInbound.port ]]</a-tag></p>

    <template v-if="dbInbound.isVMess">
        <p>UUID: <a-tag color="green">[[ inbound.uuid ]]</a-tag></p>
        <p>alterId: <a-tag color="green">[[ (inbound.settings.users[0] && inbound.settings.users[0].alterId) || 0 ]]</a-tag></p>
    </template>
    <template v-if="dbInbound.isVLess">
        <p>UUID: <a-tag color="green">[[ inbound.uuid ]]</a-tag></p>
        <p v-if="inbound.settings.users[0] && inbound.settings.users[0].flow">flow: <a-tag color="green">[[ inbound.settings.users[0].flow ]]</a-tag></p>
    </template>
    <template v-if="dbInbound.isTrojan">
        <p>{{ i18n "info_password" }}: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>
    <template v-if="dbInbound.isSS">
        <p>{{ i18n "info_encryption" }}: <a-tag color="green">[[ inbound.method ]]</a-tag></p>
        <p>{{ i18n "info_password" }}: <a-tag color="green">[[ inbound.settings.password ]]</a-tag></p>
    </template>
    <template v-if="dbInbound.isHysteria2">
        <p>{{ i18n "info_password" }}: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
        <p>{{ i18n "info_updown" }}: <a-tag color="green">[[ inbound.settings.up_mbps ]] / [[ inbound.settings.down_mbps ]] Mbps</a-tag></p>
    </template>
    <template v-if="dbInbound.isTUIC">
        <p>UUID: <a-tag color="green">[[ inbound.uuid ]]</a-tag></p>
        <p>{{ i18n "info_password" }}: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
        <p>{{ i18n "info_congestion" }}: <a-tag color="green">[[ inbound.settings.congestion_control ]]</a-tag></p>
    </template>
    <template v-if="dbInbound.isAnyTLS || dbInbound.isShadowTLS">
        <!-- AnyTLS/ShadowTLS 的 users[0] 结构为 {name, password}，没有 username 字段。
             这里展示的是用户的人类可读备注名（settings.users[0].name），
             与 socks/http 等协议的 "认证 username" 语义不同，故直读 settings 层。 -->
        <p>{{ i18n "info_username" }}: <a-tag color="green">[[ (inbound.settings.users[0] && inbound.settings.users[0].name) || '' ]]</a-tag></p>
        <p>{{ i18n "info_password" }}: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>
    <template v-if="dbInbound.isNaive">
        <p>{{ i18n "info_username" }}: <a-tag color="green">[[ inbound.username ]]</a-tag></p>
        <p>{{ i18n "info_password" }}: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>
    <template v-if="dbInbound.isSocks || dbInbound.isHTTP || dbInbound.isMixed">
        <p>{{ i18n "info_username" }}: <a-tag color="green">[[ inbound.username ]]</a-tag></p>
        <p>{{ i18n "info_password" }}: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>
    <template v-if="dbInbound.isWG">
        <p>peer: <a-tag color="green">[[ (inbound.settings.peers[0] && inbound.settings.peers[0].address) || '' ]]:[[ (inbound.settings.peers[0] && inbound.settings.peers[0].port) || '' ]]</a-tag></p>
        <p>public_key: <a-tag color="green">[[ (inbound.settings.peers[0] && inbound.settings.peers[0].public_key) || '' ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isVMess || dbInbound.isVLess || dbInbound.isTrojan || dbInbound.isSS || dbInbound.isHysteria2 || dbInbound.isTUIC || dbInbound.isAnyTLS || dbInbound.isShadowTLS || dbInbound.isNaive">
        {{template "inboundInfoTransport"}}
    </template>
</div>
{{end}}


{{define "component/inboundInfo"}}
<script>
    Vue.component('inbound-info', {
        delimiters: ['[[', ']]'],
        props: ["dbInbound", "inbound"],
        template: `{{template "component/inboundInfoComponent"}}`,
    });
</script>
{{end}}
